.flex-container{
    display: flex;
    border: 10px solid green 
    align-items: flex-end;
    }

.box1 {
    width:10vw;
    background-color: blue;
}

.box2 {
    width:10vw;
    background-color: red;
}

.box3 {
    width:10vw;
    background-color: yellow;
}

.box4 {
    width:10vw;
    background-color: orange;
}